<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
        <br><br>
        <h3>Edit your Listing</h3>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
            <!-- Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="Listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                <div class="invalid-feedback">Title is required.</div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="Listing[description]" class="form-control" required><%= listing.description %></textarea>
                <div class="invalid-feedback">Description is required.</div>
            </div>

            <div class="mb-3">
                Original Listing Image <br>
                <img src="<%= originalImageUrl %>">
            </div>

            <!-- Image URL - NOW OPTIONAL -->
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image <small class="text-muted">(Optional)</small></label>
                <input name="listing[image]" type="file"
                       class="form-control" >
            </div>

            <!-- Price & Country -->
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="Listing[price]" value="<%= listing.price %>" type="number" min="0" step="1"
                           class="form-control" required>
                    <div class="invalid-feedback">Price is required (must be a positive number).</div>
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="Listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country is required.</div>
                </div>
            </div>

            <!-- Location -->
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="Listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                <div class="invalid-feedback">Location is required.</div>
            </div>

            <button class="btn btn-primary add-btn">Update Listing</button>
            <br><br>
        </form>
    </div>
</div>